name: pr.linux.temurin.lts

on:
  pull_request:
    branches: [ develop, master, feature/*, release/* ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          submodules: true

      - name: JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Build
        run: java make/Make.java
