name: release

on:
  push:
    tags: [ com.io7m.exfilac-* ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd
        with:
          submodules: true

      - name: JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Build
        run: java make/Make.java

      - name: Sign APKs
        env:
          IO7M_ANDROID_SIGNING_KEY:  ${{ secrets.IO7M_ANDROID_SIGNING_KEY  }}
          IO7M_ANDROID_KEY_ALIAS:    ${{ secrets.IO7M_ANDROID_KEY_ALIAS    }}
          IO7M_ANDROID_KEY_PASSWORD: ${{ secrets.IO7M_ANDROID_KEY_PASSWORD }}
        run: .github/workflows/sign.sh ./com.io7m.exfilac.main/build/outputs/apk/release/com.io7m.exfilac.main-release-unsigned.apk

      - name: Upload APK(s)
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        if: always()
        with:
          name: apk
          path: signed.apk
